@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  font-weight: bold;
  border-bottom: solid 2px rgb(235, 169, 55);
  color: rgb(235, 169, 55);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

